/* Mobile */
@media screen and (max-width: 768px) {
    .text-diagram {
        font-family: 'Heebo', sans-serif;
        font-size: 4.7vw;
        color: grey;
        text-align: center;
        width: 86vw;
        padding: 5vw;
        position: relative;
        margin-top: 4vh;
        min-height: 0;
        direction: rtl;
    }

    .marselLogo {
        width: 25vw;
        height: auto;
        position: absolute;
        top: 35vh;
        right: 15vw;
        rotate: 30deg;
    }

    .diagram-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3vh;
        /* Adjusted spacing */
        margin-top: 20px;
    }

    .diagram-item-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
        /* Space between the item and the arrow */
    }

    .diagram-item {
        width: 150px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px dashed #f2903f;
        background: none;
        padding: 10px;
        text-align: center;
        border-radius: 2vh;
        font-family: 'Karantina';
        color: #f2903f;
        font-size: 8vmin;
    }

    .up-arrow {
        width: 30px;
        height: auto;
    }

    .readDiv {
        background-color: #f2903f;
        border: 2px solid #f2903f;
        color: white;
    }
}


/* Desktop */
@media screen and (min-width: 1025px) {
    .text-diagram {
        font-family: 'Heebo', sans-serif;
        font-size: 1.2vw;
        /* במקום vw גדול */
        color: grey;
        text-align: center;
        width: 50vw;
        padding: 2vw;
        direction: rtl;
    }

    .marselLogo {
        position: absolute;
        width: 10vw;
        top: 15vh;
        right: 10vw;
        rotate: 15deg;
        display: none;
    }

    .diagram-container {
        position: relative;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 99px);
        width: 100%;
        place-items: center;
        direction: rtl;
        bottom: 0vh;
    }

    /* מיקום באלכסון */
    .diagram-item-wrapper {
        position: relative;
    }

    .diagram-item-wrapper:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
        justify-self: start;
    }

    .diagram-item-wrapper:nth-child(2) {
        grid-column: 2;
        grid-row: 2;
    }

    .diagram-item-wrapper:nth-child(3) {
        grid-column: 3;
        grid-row: 3;
    }

    .diagram-item-wrapper:nth-child(4) {
        grid-column: 4;
        grid-row: 4;
        justify-self: end;
    }

    .diagram-item {
        width: 200px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px dashed #f2903f;
        border-radius: 1vh;
        font-family: 'Karantina';
        font-size: 2vw;
        color: #f2903f;
        background: none;
        cursor: pointer;
        z-index: 2;
        position: relative;
    }

    .up-arrow {
        width: 50px;
        height: auto;
        transform: rotate(45deg);
        position: relative;
        top: -12vh;
        left: 7vw;
    }

    /* הסרת החץ האחרון */
    .diagram-item-wrapper:nth-child(4)::after {
        display: none;
    }

    .readDiv {
        background-color: #f2903f;
        border: 2px solid #f2903f;
        color: white;
    }

}