/* Mobile */
@media screen and (max-width: 768px) {
    .Home {
        background-color: #f2e5dd;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #f2e5dd;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .title {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        font-family: 'Karantina';
        font-size: 17vw;
        color: #175a85;
        margin-top: 12vh;
        width: 70%;
        text-align: center;
    }

    .home-text {
        font-family: 'Heebo', sans-serif;
        font-size: 4.7vw;
        color: grey;
        text-align: center;
        position: absolute;
        margin-top: 35vh;
        right: 50%;
        direction: rtl;
        transform: translateX(50%);
        width: 92vw;
    }

    .flexBox-boxes {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        margin-top: 63vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        width: 90vw;
    }

    .boxClose {
        width: 42vw;
        height: auto;
    }

    .flexBox-boxes img:nth-child(1),
    .flexBox-boxes img:nth-child(2) {
        order: 1;
    }

    .flexBox-boxes img:nth-child(3),
    .flexBox-boxes img:nth-child(4) {
        order: 2;
    }

    .flexBox-text {
        position: absolute;
        right: 50%;
        transform: translateX(47%);
        margin-top: 72vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 142px;
        column-gap: 110px;
        width: 73vw;
    }


    .flexBox-text span:nth-child(1),
    .flexBox-text span:nth-child(2) {
        order: 1;
    }

    .flexBox-text span:nth-child(3),
    .flexBox-text span:nth-child(4) {
        order: 2;
    }


    .boxText {
        font-family: 'Karantina';
        position: relative;
        color: white;
        font-size: 8vw;
        /* text-align: center; */
        /* margin-left: -20vh; */
        /* margin-top: 10vh; */
        /* width: 20vw; */
    }

    #boxText-0 {
        top: -1vh;
        left: -45vw;
        width: 20vw;
    }


    #boxText-1 {
        top: -29vh;
        left: 45vw;
    }

    #boxText-2-1 {
        top: -7vh;
        left: -41vw
    }

    #boxText-2-2 {
        top: -28vh;
        left: -21vw;
        font-size: 7.5vw;
    }

    #boxText-3 {
        top: 27vh;
        left: 46vw;
    }


    .SboxClose {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        margin-top: 111vh;
        height: auto;
        width: 88vw;
    }

    .SboxText {
        right: 50%;
        transform: translateX(50%);
        margin-top: 123.3vh;
        margin-right: 2vh;
        font-family: 'Karantina';
        position: absolute;
        color: white;
        font-size: 9vw;
        text-align: center;
    }


    .marginBottom {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        margin-top: 139vh;
        width: 100vw;
        height: 5vh;
        background-color: transparent;
    }

}

/* Desktop */
@media screen and (min-width: 1025px) {
    .Home {
        background-color: #f2e5dd;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #f2e5dd;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .title {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        font-family: 'Karantina';
        font-size: 5vw;
        color: #175a85;
        margin-top: 15vh;
        width: 90%;
        text-align: center;
    }

    .home-text {
        font-family: 'Assistant', sans-serif;
        font-size: 1.5vw;
        color: grey;
        text-align: center;
        position: absolute;
        margin-top: 27vh;
        right: 50%;
        direction: rtl;
        transform: translateX(50%);
        width: 53vw;
    }

    .flexBox-boxes {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        margin-top: 48vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 66px;
        width: 90vw;
        cursor: pointer;
        direction: rtl;
    }

    .boxClose {
        width: 17vw;
        height: auto;
        cursor: pointer;
    }

    .boxContainer {
        cursor: pointer;
    }

    /* .flexBox-boxes img:nth-child(1),
    .flexBox-boxes img:nth-child(2) {
        order: 1;
    }

    .flexBox-boxes img:nth-child(3),
    .flexBox-boxes img:nth-child(4) {
        order: 2;
    }

    .flexBox-text span:nth-child(1),
    .flexBox-text span:nth-child(2) {
        order: 1;
    }

    .flexBox-text span:nth-child(3),
    .flexBox-text span:nth-child(4) {
        order: 2;
    } */


    .flexBox-text {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        margin-top: 60vh;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 182px;
        width: 69vw;
        text-align: center;
        cursor: pointer;
        direction: rtl;
    }

    .boxText {
        font-family: 'Karantina';
        color: white;
        font-size: 3vw;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    /* חריג – פיצול "שולחן עגול" */
    #boxText-2-1 {
        grid-column: 3;
        align-self: end;
        margin-right: -1vw;

    }

    #boxText-2-2 {
        grid-column: 3;
        align-self: start;
        font-size: 2.5vw;
        margin-right: 1.8vw;
    }

    #boxText-3 {
        margin-right: 4vw;
        margin-top: -7vh;
    }

    #boxText-1 {
        margin-right: 3vw;
        margin-top: 0vh;
    }

    .SboxClose {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        margin-top: 73vh;
        height: auto;
        width: 28vw;
        cursor: pointer;
    }

    .SboxText {
        right: 50%;
        transform: translateX(50%);
        margin-top: 85vh;
        margin-right: 2vh;
        font-family: 'Karantina';
        position: absolute;
        color: white;
        font-size: 3vw;
        text-align: center;
        cursor: pointer;
    }


    .marginBottom {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        margin-top: 139vh;
        width: 100vw;
        height: 5vh;
        background-color: transparent;
    }
}