/* Mobile */
@media screen and (max-width: 768px) {
  .popup-overlay {
    background: #000000b3;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2000;
  }

  .popup-content {
    background: #e2d4c8;
    border-radius: 12vw;
    height: 74vh;
    overflow-y: auto;
    padding: 2vw;
    position: absolute;
    top: 15vh;
    left: 8vw;
    width: 80vw;
    overflow: hidden;
  }

  .XBtn {
    position: absolute;
    top: 5vw;
    left: 5vw;
    background: none;
    border: none;
    width: 8vw;
  }

  .popup-close-button {
    border: none;
    background-color: transparent;
  }

  .popup-title {
    font-family: 'Karantina';
    font-weight: normal;
    color: black;
    font-size: 15vw;
    margin-bottom: 3vw;
    margin-top: 8vw;
    margin-left: 4vw;
    margin-right: 4vw;
    text-align: center;
  }

  .popup-body {
    font-size: 4.5vw;
    direction: ltr;
    margin-right: 1.5vh;
    text-align: right;
    margin-left: 1.5vh;
    height: 49vh;
    margin-bottom: 1vh;
    overflow: auto;
    width: 74.5vw;
    color: #4f4e4e;
    line-height: 4vh;
  }

  .popup-body-text {
    direction: rtl;
  }
}


/* Desktop */
@media screen and (min-width: 1025px) {
  .popup-overlay {
    background: #000000b3;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 20000;
  }

  .popup-content {
    background: #e2d4c8;
    border-radius: 12vw;
    height: 74vh;
    overflow-y: auto;
    padding: 2vw;
    position: absolute;
    top: 9vh;
    width: 67vw;
    overflow: hidden;
    direction: rtl;
    left: 50%;
    transform: translateX(-50%);
  }

  .XBtn {
    position: absolute;
    top: -1vw;
    left: 4vw;
    background: none;
    border: none;
    width: 4vw;
    z-index: 2000;
  }

  .popup-close-button {
    position: absolute;
    top: 5vw;
    left: 3vw;
    background: none;
    border: none;
    font-size: 8vw;
    cursor: pointer;
    width: 8vw;
    height: 9vh;
    border: none;
  }

  .popup-title {
    font-family: 'Karantina';
    font-weight: normal;
    color: black;
    font-size: 7vw;
    margin-bottom: 4vw;
    margin-top: 1vw;
    margin-left: 4vw;
    margin-right: 4vw;
    text-align: center;
  }

  .popup-body {
    font-size: 1.5vw;
    direction: ltr;
    margin-right: 10.5vh;
    text-align: right;
    margin-left: 0.5vh;
    height: 40vh;
    margin-bottom: 1vh;
    overflow: auto;
    width: 53.5vw;
    font-family: 'Assistant';
    line-height: 5vh;
  }

  .popup-body-text {
    direction: rtl;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e69138;
  }

  .small-text {
    position: absolute;
    top: 123vw;
    left: 8vw;
    font-size: 2vh;
    color: #595959;
  }
}