.SimulationGame {
    z-index: 100;
    height: 100%;
    width: 100%;
    background-color: rgb(227, 212, 200);
    position: absolute;
}

.game-header {
    width: 100%;
    position: absolute;
    background-color: #f3cfb1;
    height: 14vh;
    border-bottom: 1px solid #000;
}

.title-game {
    direction: rtl;
    font-family: 'Heebo', sans-serif;
    font-size: 5.5vw;
    color: #333;
    position: absolute;
    top: 3.5vh;
    right: 21vw;
}

.circle-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #efefef;
    position: absolute;
    top: 3vh;
    right: 2vw;
}

.circle-img img {
    width: 75%;
    height: auto;
    object-fit: contain;
}

.logos-SimulationGame {
    position: absolute;
    top: 6vh;
}

#logo-phone {
    left: 3vw;
    width: 6vw;
}

#logo-video {
    left: 11vw;
    width: 8vw;
}

/* ------------------------------------------------------------ */

/* קונטיינר ההודעות */
.texing-div {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 100%;
    height: 46%;
    position: absolute;
    top: 15vh;
    overflow-y: auto;
}

/* ------------------------------------------------------------- */

.keybord-div {
    width: 100%;
    position: absolute;
    bottom: 0vh;
    background-color: #fcbc88;
    height: 30vh;
    border-top: 1px solid #000;
}


.answers-divs {
    min-height: 14vh;
    /* גובה מינימום */
    max-height: 20vh;
    /* גובה מקסימום אם רוצים */
    width: 40vw;
    background-color: #eeeeee;
    border-radius: 7vw;
    position: absolute;
    bottom: 7vh;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    color: #333;
    font-size: 4.5vw;
    padding: 1.5vh 4vw;
    /* פחות פדינג כדי לא "לבלוע" את הטקסט */
    display: flex;
    justify-content: center;
    align-items: center;
    /* ממרכז את הטקסט אנכית */
    word-wrap: break-word;
    /* טקסט נשבר לשורות */
    word-break: break-word;
    overflow-y: auto;
    /* גלילה אם הטקסט גדול */
    cursor: pointer;
    direction: rtl;
}

#answer1-div {
    left: 51vw;
}

#answer2-div {
    left: 1vw;
}

.btn-to-home {
    font-family: 'Heebo', sans-serif;
    font-size: 4.5vw;
    color: #333;
    position: absolute;
    bottom: 2vh;
    right: 3vw;
    text-decoration: underline;
}

.input-div {
    position: absolute;
    bottom: 32vh;
    right: 1vw;
    font-family: 'Heebo', sans-serif;
    font-size: 4.5vw;
    color: #333;
    background-color: #eeeeee;
    border-radius: 7vw;
    height: 4vh;
    width: 79vw;
    overflow-x: auto;
    white-space: nowrap;
    padding: 1vh;
    direction: rtl;
    padding-left: 3vw;
    padding-right: 3vw;
    border: 1px solid #000;
}


.btn-to-send {
    position: absolute;
    bottom: 32vh;
    left: 2vw;
    width: 10vw;
    transform: rotate(180deg);
}

/* ------------------------------------ */

.side1-text,
.side2-text {
    display: inline-block;
    max-width: 48%;
    padding: 3vh 4.5vw;
    margin: 1vh 0;
    border-radius: 20px;
    font-family: 'Heebo', sans-serif;
    font-size: 4vw;
    line-height: 1.3;
    color: #2c2b2b;
    word-wrap: break-word;
    word-break: break-word;
    height: auto;
    direction: rtl;
}

/* צד ימין – הבוט */
.side1-text {
    background-color: #cfe2f3;
    align-self: flex-end;
    margin-left: auto;
    margin-right: 2vw;
    /* ריווח מהקצה */
    text-align: right;
}

/* צד שמאל – המשתמש */
.side2-text {
    background-color: #9fc5e8;
    align-self: flex-start;
    margin-left: 2vw;
    /* ריווח מהקצה */
    margin-right: auto;
    text-align: right;
}

.is-clicked {
    background-color: #c7c6c6;
    color: grey;
    transition: background-color 0.3s ease-in-out;
}

.message-sent {
    font-family: 'Heebo', sans-serif;
    color: #2c2b2b;
    font-size: 5vw;
    position: relative;
    top: 10vh;
    left: 4vw;
}

/* .end-chat-btn {
    height: 5vh;
    width: 43vw;
    background-color: pink;
    border-radius: 16vw;
    position: relative;
    top: 8vh;
    left: 25vw;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    color: rgb(185 99 99);
    font-size: 6vw;
    font-weight: bold;
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-left: 4vw;
    padding-right: 4vw;
    border: 1px solid;
} */

.end-buttons {
    display: flex;
    gap: 8vw;
    justify-content: center;
    margin-top: 6vh;
}

.end-chat-btn,
.restart-btn {
    background-color: #d6c5b6;
    padding: 4vh 4vw;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: 'Heebo', sans-serif;
}

.restart-btn {
    background-color: #f28b82;
    /* צבע שונה כדי להדגיש */
}


/* Desktop */
@media screen and (min-width: 1025px) {
    .SimulationGame {
        height: 100%;
        width: 100%;
        background-color: rgb(227, 212, 200);
        position: absolute;
        overflow-x: hidden;
    }

    .game-header {
        width: 100%;
        position: absolute;
        background-color: #f3c9a6;
        height: 12vh;
        border-bottom: 1px solid #000;
    }

    .title-game {
        direction: rtl;
        font-family: 'Heebo', sans-serif;
        font-size: 32px;
        position: absolute;
        top: 2vh;
        right: 13vw;
    }

    .circle-img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 1px solid #000;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-color: #efefef;
        position: absolute;
        top: 2vh;
        right: 4vw;
    }

    .circle-img img {
        width: 70%;
        height: auto;
        object-fit: contain;
    }

    .logos-SimulationGame {
        position: absolute;
        top: 4vh;
    }

    #logo-phone {
        left: 5vw;
        width: 40px;
        top: 5vh;
    }

    #logo-video {
        left: 10vw;
        width: 60px;
    }

    .texing-div {
        display: flex;
        flex-direction: column;
        gap: 0vh;
        /* ריווח בין ההודעות */
        width: 100%;
        height: 50vh;
        position: absolute;
        bottom: 35vh;
        overflow-y: auto;
        /* גלילה אם יש הרבה הודעות */
        padding: 1vh;
        box-sizing: border-box;
    }

    .keybord-div {
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: #f3c9a6;
        height: 27vh;
        border-top: 1px solid #000;
    }

    .answers-divs {
        height: 10vh;
        width: 20vw;
        background-color: #eeeeee;
        border-radius: 20px;
        position: absolute;
        bottom: 5vh;
        text-align: center;
        font-family: 'Heebo', sans-serif;
        color: #333;
        font-size: 1.5rem;
        padding-top: 3vh;
        padding-bottom: 3vh;
        padding-left: 2vw;
        padding-right: 2vw;
        direction: rtl;
        cursor: pointer;
    }

    #answer1-div {
        left: 58vw;
    }

    #answer2-div {
        left: 24vw;
    }

    .btn-to-home {
        font-family: 'Heebo', sans-serif;
        font-size: 25px;
        color: #333;
        position: absolute;
        bottom: 2vh;
        right: 3vw;
        text-decoration: underline;
        cursor: pointer;
    }

    .input-div {
        position: absolute;
        bottom: 28vh;
        right: 1vw;
        font-family: 'Heebo', sans-serif;
        font-size: 23px;
        color: #333;
        background-color: #eeeeee;
        border-radius: 20px;
        height: 3vh;
        width: 89vw;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        padding: 1vh 2vw;
        direction: rtl;
        border: 1px solid #000;
    }

    .btn-to-send {
        position: absolute;
        bottom: 28vh;
        left: 2vw;
        width: 50px;
        transform: rotate(180deg);
    }

    /* הודעה מצד הבוט (ימין) */
    .side1-text {
        max-width: 48%;
        background-color: #cfe2f3;
        border-radius: 20px;
        align-self: flex-end;
        margin-left: auto;
        margin-right: 0vw;
        padding: 4vh 2vw;
        font-size: 20px;
        line-height: 1.3;
        font-size: 1.4rem;
        word-wrap: break-word;
        word-break: break-word;
    }

    /* הודעה מצד המשתמש (שמאל) */
    .side2-text {
        max-width: 48%;
        background-color: #9fc5e8;
        border-radius: 20px;
        align-self: flex-start;
        margin-left: 0vw;
        margin-right: auto;
        padding: 2vh 2vw;
        font-size: 20px;
        line-height: 1.3;
        font-size: 1.4rem;
        word-wrap: break-word;
        word-break: break-word;
    }

    .is-clicked {
        background-color: #c7c6c6;
        color: gray;
        transition: background-color 0.3s ease-in-out;
    }

    .message-sent {
        font-family: 'Heebo', sans-serif;
        color: #2c2b2b;
        font-size: 20px;
        position: relative;
    }

    /* .end-chat-btn {
        height: 5vh;
        width: 250px;
        background-color: pink;
        border-radius: 62px;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        text-align: center;
        font-family: 'Heebo', sans-serif;
        color: #333;
        font-size: 37px;
        font-weight: bold;
        padding-top: 2vh;
        padding-bottom: 2vh;
        border: 1px solid;
        cursor: pointer;
    } */

    .end-buttons {
        display: flex;
        gap: 8vw;
        justify-content: center;
        margin-top: 6vh;
    }

    .end-chat-btn,
    .restart-btn {
        background-color: #d6c5b6;
        padding: 4vh 4vw;
        border-radius: 40px;
        cursor: pointer;
        font-size: 2.2rem;
        font-family: 'Heebo', sans-serif;
        cursor: pointer;
    }

    .restart-btn {
        background-color: #f28b82;
        /* צבע שונה כדי להדגיש */
    }

}