.SimulationGame{
    z-index: 100;
    height: 100%;
    width: 100%;
    background-color: rgb(227, 212, 200);
    position: absolute;
}

.game-header{
    width: 100%;
    position: absolute;
    background-color: #f7b37c;
    height: 14vh;
    border-bottom: 1px solid #000; 
}

.title-game{
    direction: rtl;
    font-family: 'Heebo', sans-serif;
    font-size: 5.5vw;
    color: #333;
    position: absolute;
    top: 3.5vh;
    right: 21vw;
}

.circle-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #efefef;
    position: absolute;
    top: 3vh;
    right: 2vw;
}

.circle-img img {
    width: 75%; 
    height: auto;
    object-fit: contain;
}

.logos{
    position: absolute;
    top: 21vh;
}

#logo-phone{
    left: 3vw;
    width: 6vw;
}

#logo-video{
    left: 11vw;
    width: 8vw;
}

/* ------------------------------------------------------------ */

.texing-div{
    width: 100%;
    height: 46vh;
    position: absolute;
    bottom: 39vh;
    overflow-y: auto;
}

/* ------------------------------------------------------------- */

.keybord-div{
    width: 100%;
    position: absolute;
    bottom: 0vh;
    background-color: #f7b37c;
    height: 30vh;
    border-top: 1px solid #000; 
}


.answers-divs{
    height: 11vh;
    width: 34vw;
    background-color: #eeeeee;
    border-radius: 7vw;
    position: absolute;
    bottom: 7vh;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    color: grey;
    font-size: 4.5vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 4vw;
    padding-right: 4vw;
}

#answer1-div{
    left: 53vw;
}

#answer2-div{
    left: 6vw;
}

.btn-to-home{
    font-family: 'Heebo', sans-serif;
    font-size: 4.5vw;
    color: #333;
    position: absolute;
    bottom: 2vh;
    right: 3vw;
    text-decoration: underline;
}

.input-div {
    position: absolute;
    bottom: 32vh;
    right: 1vw;
    font-family: 'Heebo', sans-serif;
    font-size: 4.5vw;
    color: #333;
    background-color: #eeeeee;
    border-radius: 7vw;
    height: 4vh;
    width: 79vw;
    overflow-x: auto;
    white-space: nowrap;
    padding: 1vh;
    direction: rtl;
    padding-left: 3vw;
    padding-right: 3vw;
    border: 1px solid #000; 
}


.btn-to-send{
    position: absolute;
    bottom: 32vh;
    left: 2vw;
    width: 10vw;
    transform: rotate(180deg);
}

/* ------------------------------------ */

.side1-text{
    height: 10vh;
    width: 34vw;
    background-color: #cfe2f3;
    border-radius: 7vw;
    position: relative;
    top: 2vh;
    left: 53vw;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    color: #2c2b2b;
    font-size: 4vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 4vw;
    padding-right: 4vw;
    direction: rtl;
    margin-bottom: 2vh;
}

.side2-text{
    height: 10vh;
    width: 34vw;
    background-color: #9fc5e8;
    border-radius: 7vw;
    position: relative;
    top: 2vh;
    left: 4vw;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    color: #2c2b2b;
    font-size: 4vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 4vw;
    padding-right: 4vw;
    direction: rtl;
    margin-bottom: 2vh;
}

.is-clicked {
    background-color: #c7c6c6; 
    /* color: white; */
    transition: background-color 0.3s ease-in-out;
}

.message-sent{
    font-family: 'Heebo', sans-serif;
    color: #2c2b2b;
    font-size: 5vw;
    position: relative;
    top: 10vh;
    left: 4vw;
}

.end-chat-btn{
    height: 5vh;
    width: 43vw;
    background-color: pink;
    border-radius: 16vw;
    position: relative;
    top: 8vh;
    left: 25vw;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    color: rgb(185 99 99);
    font-size: 6vw;
    font-weight: bold;
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-left: 4vw;
    padding-right: 4vw;
    border: 1px solid;
}